# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exists on the server 
# then don't change anythign and don't run the Rule

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# show the page that has the .html extension
RewriteRule ^(.*)\.html$ /$1 [L,R=301]